@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
  --yellow:#f1bd5c ;
  --white:aliceblue;
  --black:black;
}
::selection {
  color: var(--black);
  background: var(--yellow);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
/* .ho-container {
  width: 100%;
  height: 100vh;
  background-image:  linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
   url(../photos/home-background.jpeg);
  background-size: cover;
  background-position: center;
} */

.ho-container::after{
  content: "";
  position: absolute;
  top: 0;
  background:  linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
   url(../photos/home-background.jpeg) no-repeat center center/cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.ho-navbar {
  width: 85%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.credentials{
  display: flex;
  align-items: center;
}
.credentials p{
  font-weight: bolder;
  margin-left: 5px;
  color: white;
  font-family: 'Poppins';
}
.credentials i{
  font-size: 20px;
  margin-left: 10px;
  color: white;
}
.credentials a{
  font-size: 18px;
  border: 2px solid var(--yellow);
  border-radius: 15px;
  text-decoration: none;
  font-family: "Forum", cursive;
  padding: 10px;
  color: white;
}

.logo-head{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-head p{
  font-size: 25px;
  font-family: 'Salsa';
  text-shadow: 2px 0px var(--yellow);
  margin-inline: 10px;
  color: white;
}
.logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: var(--white);
  border-radius: 100%;
}

.ho-navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.ho-navbar ul li a {
  text-decoration: none;
  color: var(--white);
  font-family: "Forum", cursive;
  font-size: 22px;
}

.ho-navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: var(--yellow);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.ho-navbar ul li:hover::after {
  width: 100%;
}

.ho-content {
  display: flex;
  width: 80%;
  flex-direction: column;
  margin: 40px auto;
  gap: 25px;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin-inline: auto;
  transform: translateY(0%);
  text-align: center;
  color: var(--white);
}
.ho-content h1 {
  font-size: 50px;
  /* margin-top: 80px; */
  font-family: "Salsa", cursive;
  text-shadow: 2px 2px var(--yellow);
}

.ho-content p {
  /* margin: 20px auto; */
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
  font-family: "Thasadith", sans-serif;
}

.btns-home button {
  width: 250px;
  height: 80px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid var(--yellow);
  background: transparent;
  color:var(--white);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 20px;
  font-family: 'Macondo', cursive;
}
.btns-home{
  display: flex;
  justify-content: center;
}
span {
  background: var(--yellow);
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

.btns-home button:hover span {
  width: 100%;
}

.btns-home button:hover {
  border: none;
  color:var(--black);
}
@media only screen and (max-width: 920px){
  .ho-content h1{
    font-size: 50px;
  }
}
@media only screen and (max-width: 850px){
  .ho-content h1{
    font-size: 40px;
  }
  .btns-home button{
    width: 200px;
  }
  .ho-navbar{
    flex-direction: column;
    gap: 30px;
  }
}
@media screen and (max-width: 600px){
  .ho-content{
    width: 90%;
  }
}
@media only screen and (max-width: 560px) {
  .ho-content h1{
    font-size: 35px;
  }
  .btns-home button{
    width: 180px;
  }
}
@media only screen and (max-width: 480px) {
  .ho-navbar ul li{
    margin: 0px 10px;
  }
  .ho-content{
    width: 90%;
  }
  .ho-content h1{
    font-size: 30px;
  }
  .ho-content p{
    font-size: 18px;
  }
}
@media only screen and (max-width: 420px) {
  .btns-home button{
    margin: 10px 10px;
  }
  .btns-home{
    flex-direction: column;
  }
  .ho-content h1{
    font-size: 28px;
  }
}
@media only screen and (max-width: 380px) {
  .ho-navbar ul li{
    margin: 0px 10px;
  }
  .logo{
    width: 45px;
    height: 45px;
  }
  .ho-navbar ul li a{
    font-size: 20px;
  }
}

