img{
    /* height: 250px; */
    /* width: 250px; */
    border-radius: 120px;
}
#te-main{
    margin-left: 2%;
    padding: 10%;
    padding-right: 4%;
}
.te-heading{
    text-align: center; 
    padding: 30px;
}
body{
    font-family: 'Poppins', sans-serif;
    /* background-image: url("https://tse2.mm.bing.net/th?id=OIP.LZYpGCblhfh48N1psMv9DQHaEK&pid=Api&P=0"); */
    background-size: cover;
    background-repeat: no-repeat;
}
/* .dropdown{
    margin-top: 25px;
    margin-left: 25px;
} */
/* @media only screen and (max-width: 430px){
    #te-main1, #te-main2, #te-main3, #te-main4, #te-main5, #te-main6,
    #te-main7, #te-main8, #te-main9, #te-main10, #te-main11, #te-main12 {
      
      align-items: center;
      align-content: center;
      text-align: center;
      
    }
} */

.team-item {
    border-radius: 50px; 
    border: 2px solid #575580;
    box-shadow: 0 0 18px rgb(97, 92, 92);
    height: calc(100% - 37px);
    transition: .5s;
    padding-block: 10px;
}

.team-item img {
    transition: .5s;
}

.team-item:hover img {
    transform: scale(1.1);
}

.team-item:hover {
    height: 100%;
}

/* body {
  background: #673ab7;
  color: white;
  text-align: center;
} */
  
a {
  color: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}

h1 {
  font-size: 3em;
}

.te-menu {
  filter: url("#shadowed-goo");
}

.te-menu-item, .te-menu-open-button {
  background:#575580;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: 30px;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  text-decoration-line: none;
}

.te-menu-open {
  display: none;
}

.te-hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: transform 200ms;
}

.te-hamburger-1 {
  transform: translate3d(0, -8px, 0);
}

.te-hamburger-2 {
  transform: translate3d(0, 0, 0);
}

.te-hamburger-3 {
  transform: translate3d(0, 8px, 0);
}

.te-menu-open:checked + .te-menu-open-button .te-hamburger-1 {
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.te-menu-open:checked + .te-menu-open-button .te-hamburger-2 {
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.te-menu-open:checked + .te-menu-open-button .te-hamburger-3 {
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.te-menu {
  position: absolute;
  /* left: 50%; */
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  /* width:min-content; */
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.te-menu-item:hover {
  background: white;
  color: black;
}
.te-menu-item:nth-child(3) {
  transition-duration: 180ms;
}
.te-menu-item:nth-child(4) {
  transition-duration: 180ms;
}
.te-menu-item:nth-child(5) {
  transition-duration: 180ms;
}
.te-menu-item:nth-child(6) {
  transition-duration: 180ms;
}
.te-menu-item:nth-child(7) {
  transition-duration: 180ms;
}
.te-menu-item:nth-child(8) {
  transition-duration: 180ms;
}

.te-menu-open-button {
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.te-menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.te-menu-open:checked + .te-menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.te-menu-open:checked ~ .te-menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.te-menu-open:checked ~ .te-menu-item:nth-child(3) {
  transition-duration: 190ms;
  transform: translate3d(110px, 0, 0);
}
.te-menu-open:checked ~ .te-menu-item:nth-child(4) {
  transition-duration: 290ms;
  transform: translate3d(220px, 0, 0);
}
.te-menu-open:checked ~ .te-menu-item:nth-child(5) {
  transition-duration: 390ms;
  transform: translate3d(330px, 0, 0);
}
.te-menu-open:checked ~ .te-menu-item:nth-child(6) {
  transition-duration: 490ms;
  transform: translate3d(440px, 0, 0);
}
.te-menu-open:checked ~ .te-menu-item:nth-child(7) {
  transition-duration: 590ms;
  transform: translate3d(550px, 0, 0);
}
.te-menu-open:checked ~ .te-menu-item:nth-child(8) {
  transition-duration: 690ms;
  transform: translate3d(660px, 0, 0);
}

/* 

$purple: #8974FB;
$light-purple: #C784DD; */

/* body {
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */
.te-container_1 {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

/* #toggle {
  -webkit-appearance: none;
} */

.te-button {
  position: absolute;
  z-index: 999;
  width: 43px;
  height: 43px;
  background:#575580;
  border-radius: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  /* top: -12px; */
  margin-left: 20px;
}
  .te-button:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background: #fff;
    transform: rotate(90deg);
    transition: all 0.4s ease;
}
.te-button:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease;
}
.te-button:hover{
  color: white;
}

.te-nav {
  display: none;
  transition: all 0.4s ease-in-out;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  transform: translateY(0%);
  box-shadow: 2px 3px 10px 0 rgba(81, 81, 81, 0.1);
  border: 1px solid #e4e4e4;
  padding: 10px;
  margin-top: 30px;
}
.te-nav ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.te-nav a {
  text-align: center;
  margin: 20px 0;
  /* background: #00bcd4; */
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}  
.te-nav .a ul:hover {
  background: #368893;
}
  
#toggle:checked ~ .te-nav {
  opacity: 1;
  transform: translateY(10%);
}

#toggle:checked ~ .button:before {
  transform: rotate(225deg);
}

#toggle:checked ~ .button:after {
  transform: rotate(135deg);
}
#te-nav_large{
  display: block;
}
#te-nav_small{
  display: none;
}

@media  screen and (max-width: 780px) {
  #te-nav_large{
    display: none;
  }
  #te-nav_small{
    display: block;
  }
}
@media (max-width: 780px) {
  .te-container_1 {
    width: 100%;
  }
}

/* .rounded-circle{
  width: 75px;
  height: 75px;
} */

#te-yr-2021{
  display: block;
}


#te-yr-2020, #te-yr-2019, #te-yr-2018, #te-yr-2017, #te-yr-2016{
  display: none;
}